@import "tailwindcss";

body {
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-image: radial-gradient(circle at center, #290ec48f 0%, rgba(0,0,0,0) 60%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
